/* app/assets/stylesheets/components/_banner.scss */
.home-banner {
  background-image: url('https://images.unsplash.com/photo-1543536448-1e76fc2795bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1024&q=80');
  background-size: cover;
  height: 70vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
